*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,h1,h2,h3,h4,h5,h6,div,img, p, a{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/*-------HEADER STYLES-------*/

.header{
    margin: 0;
    background-color: #000000d2;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position:fixed;
    top: 0;
    padding: 10px;
    z-index: 200;
}
.header img{
    height: 70%;
    margin-left: 10px;
}
.header__nav{
    width: 90%;
    padding: 0;
    margin: 0;
}
.nav__list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav__list li{
    list-style: none;
}


.nav__list-item{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius:9px ;
    transition: all 0.25s ease;
}
.login{
    background-color: #48e;
    margin-left: 8px;
    font-weight: 800;
    padding: 10px 20px;
    text-shadow: 0px 0px 15px #000;
    
}

.nav__list-item:hover{
    color: rgb(169, 169, 169);
    background-color: #3c3c3c;
    
}
.login:hover{
    background-color: #fff;
    color: #48e;
    text-shadow: 0px 0px 0px #48e;
}
.header__nav__button{
    display: none;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}
.material-symbols-outlined{
    display: none;
}
input[type="checkbox"]{
    display: none;
}
#palos{
    display: none;
}
/*------HEADER QUERIES SECTION*/

@media screen and (max-width :700px){
    input[type="checkbox"]{
        display: none;
    }
    #palos{
        display: block;
    }
    .header{
        padding-right: 0;
    }
    .material-symbols-outlined{
        color: white;
        user-select: none;
        position:absolute;
        left:10px;
        margin-right: 10px;
    }
    .nav__list li a{
        display: none;
    }
    .nav__list{
        transition: display 0.5s ease;
        flex-direction: column;
        position: absolute;
        background-color: #000;
        padding: 20px;
        left: 0;
        width: 30dvw;
        top:50px ;
        transition: width 0.5s ease;
    }
    
    .header img{
        margin-left: 10%;
    }
    .nav__list li:last-child a{
        display: block;
        margin-right: 10px;
    }
    .header__nav__button{
        display:block;
    }
    .header:has(input[type="checkbox"]:not(:checked)) .nav__list {
        padding: 0;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    
    .header:has(input[type="checkbox"]:checked) .nav__list li a{
        display: block;
    }
    .header:has(input[type="checkbox"]:checked) .nav__list{
        width: 50dvw;
    }
}
/*------ANIMACION NAV*/


/*------MAIN SECTION-------*/
.main__portada{
    height: 100dvh;
    width: 100%;
    background-image: url(img/tabla\ valores\ herowebp.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    gap: 20px;
    
   
}
.main__portada__title{
    color: white;
    font-size: clamp(3rem, 6vw, 4rem);
    letter-spacing: 2px;
    z-index: 20;
    text-align: center;
    margin-top: 44px;
    
}
.main__portada__subtitle{
    color: #aaa;
    font-size: clamp(1rem, 4vw, 2rem);
    letter-spacing: 2px;
    z-index: 20;
    text-align: center;
    padding:0px 20%;
}
.main__portada__blackout{
    position: absolute;
    height: 100dvh;
    width: 100%;
    background: linear-gradient(#1d1d1de5, #1d1d1d);
}
.main__portada::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(5px);
    z-index: -1;
}

/*------QUIENES SOMOS SECTION-------*/

.main__quienes-somos{
    height: 100dvh;
    width: 100%;
    /*background: linear-gradient(#1d1d1d);*/
    background-image: url(img/hero2\ velas.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}
.main__quienes-somos:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    z-index: 1;
}

.main__quienes-somos h2{
    margin-top: 44px;
    color: #ddd;
    font-size: clamp(2rem, 3vw, 2rem);
    z-index: 20;

}

.main__quienes-somos p{
    color: #b9b9b9;
    padding: 0 15%;
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
    z-index: 20;
    font-weight: 500;
    line-height: 30px;
    text-wrap: pretty;
}
.main__quienes-somos__blackout{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(#1d1d1d,#000000c6);
    z-index: 15;
}