*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,h1,h2,h3,h4,h5,h6,div,img, p, a{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/*-------HEADER STYLES-------*/

.header{
    margin: 0;
    width: 100%;
    height: 55px;
    display: flex;
    background-color: #000000;
    justify-content:space-evenly;
    align-items: center;
    position:fixed;
    top: 0;
    padding: 10px;
    z-index: 200;
}
.header img{
    height: 80%;
    margin-left: 10px;
}
.header__nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding: 0;
    margin: 0;
  
}
.nav__list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav__list li{
    list-style: none;
}


.nav__list-item{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius:9px ;
    transition: all 0.25s ease;
}
.nav__list-login{
    text-decoration: none;
    color: white;
    background-color: #48e;
    margin-left: 8px;
    transition: all 0.25s ease;
    font-weight: 600;
    display: flex;
    padding: 10px;
    text-shadow: 0px 0px 15px #000;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.nav__list-item:hover{
    color: rgb(169, 169, 169);
    background-color: #3c3c3c;
    
}
.nav__list-login:hover{
    background-color: #fff;
    color: #48e;
    text-shadow: 0px 0px 0px #48e;
}
.header__nav__button{
    display: none;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}
.material-symbols-outlined{
    color: white;
}
input[type="checkbox"]{
    display:none;
}
#palos{
    display: none;
}
/*------HEADER QUERIES SECTION*/

@media screen and (max-width :700px){
    
    #palos{
        display: block;
        user-select: none;
        margin-left: 10px;
    }
    .nav__list{
        display: none;
    }  
    .header__nav__button{
        display:block;
    }
    
    input[type="checkbox"]:checked ~ .nav__list{
        display: flex;
        width: 100vw;
        flex-direction: column;
        position: absolute;
        background-color: #000000;
        top: 100%;
        left: -0.2%;
        padding: 20px 10px 20px 10px;
        justify-content: space-evenly;
        gap: 17px;
        margin: auto;
        align-items: center;
        
        box-shadow: 0px 10px 20px rgba(56, 56, 56, 0.783);

    }
    
}
/*------ANIMACION NAV*/
@keyframes transparentarNav {
    from{
        opacity: 1;
    }
}

/*------MAIN SECTION-------*/
.main__portada{
    height: 100dvh;
    width: 100%;
    background-image: url(img/tabla\ valores\ herowebp.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    gap: 20px;
    
   
}
.main__portada__title{
    color: white;
    font-size: clamp(3rem, 6vw, 4rem);
    letter-spacing: 2px;
    z-index: 20;
    text-align: center;
    margin-top: 44px;
    
}
.main__portada__subtitle{
    color: #aaa;
    font-size: clamp(1rem, 4vw, 2rem);
    letter-spacing: 2px;
    z-index: 20;
    text-align: center;
    padding:0px 20%;
}
.main__portada__blackout{
    position: absolute;
    height: 100dvh;
    width: 100%;
    background: linear-gradient(#1d1d1de5, #161616);
}
.main__portada::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(5px);
    z-index: -1;
}

/*------QUIENES SOMOS SECTION-------*/

.main__quienes-somos{
    height: 100dvh;
    width: 100%;
    /*background: linear-gradient(#1d1d1d);*/
    background-image: url(img/hero2\ velas.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}
.main__quienes-somos:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    z-index: 1;
}

.main__quienes-somos h2{
    margin-top: 44px;
    color: #ddd;
    font-size: clamp(2rem, 3vw, 2rem);
    z-index: 20;

}

.main__quienes-somos p{
    color: #b9b9b9;
    padding: 0 15%;
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
    z-index: 20;
    font-weight: 500;
    line-height: 30px;
    text-wrap: pretty;
}
.main__quienes-somos__blackout{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(#161616,#000000c6,#000000);
    z-index: 15;
}

/*-------SERVICIOS SECTION--------*/

.main__servicios{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
    background: linear-gradient(#000000,#0b1627);
    
}
.nuestros__servicios__titulo{

    color: #ddd;
    font-size: clamp(2rem, 3vw, 2rem);
    margin-top: 45px;

}
.nuestros__servicios__parrafo{
    color: #b9b9b9;
    padding: 0 15%;
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
    z-index: 20;
    font-weight: 500;
    line-height: 30px;
    text-wrap: pretty;
}

/*------CONTACTO SECTION------*/
.main__contacto{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
    background: linear-gradient(#0b1627,#060b13);
}
.contacto__title{
    color: white;
    margin-top: 40px;
}
.contacto__form{
    box-shadow: 0 0 10px #48e;
    border: solid 1px #48e;
    padding: 20px;
    display: grid;
    gap: 15px;
    margin: 30px;
    grid-template-areas   :
     "mail mail"
     "name surname"
     "message message"
     "sumbit sumbit";
    border-radius: 10px;
}
.contacto__form__item{
    padding: 10px;
    border-radius: 10px;
    min-width: 50px;
}
.contacto__form input:nth-child(2){
    grid-area: mail;
}
.contacto__form input:nth-child(3){
    grid-area: name;
}
.contacto__form input:nth-child(4){
    grid-area: surname
}

.contacto__form input:nth-child(5){
    grid-area: message;
    height: 100px;
}
.contacto__form input:nth-child(6)::placeholder{
    display: flex;
    justify-content: center;
    align-items: start ;
}
.contacto__form input:nth-child(6){
    grid-area: sumbit;
    text-align: center;
    border-radius: 10px;
    background-color: #48e;
    border: none;
    padding: 10px;
    color: white    ;
    font-family: inherit;
    font-weight: 600;
}
/*-----FORM MEDIA QUERIES------*//*
@media screen and (max-width :500px){
    .contacto__form input:nth-child(2),
    .contacto__form input:nth-child(3),
    .contacto__form input:nth-child(4),
    .contacto__form input:nth-child(5),
    .contacto__form input:nth-child(6) {
        grid-area: unset;
        width: 100%;
    }
    .contacto__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
   
}